body {
    background: #FFD8D8 url("images/like.png")no-repeat;
    background-size: 40%;
    background-position: right top;
}

input[type="submit"] {
    margin: 20px 0 auto;
    background: lightcoral;
    color: white;
    font-size: 12pt;
}

h1 {
    color: lightcoral;
    font-weight: bold;
    text-shadow: 2px 2px 2px #DBB4B4;
}

li a, label, li {
    color: white;
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 2px 2px 2px #DBB4B4;
}

a:hover {
    color: #cc8888;
}

a{
    color: lightcoral;
    text-shadow: 1px 1px 1px #DBB4B4;
}