body {
    background: #D9E5FF url("images/whale.jpg") no-repeat;
    background-position: center;
    background-size: 40%;
    height: 500px;
    border-top: 10px solid #ccc;
}

h4 {
    font-size: 20pt;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #A3AFC9;
}